.tx-nkwsubfeprojects {
	dd {
		background-image: url('/typo3conf/ext/tmpl_sub/Resources/Public/Img/bullet.png');
		padding-left: 12px;
		line-height: 1.7em;
		background-repeat: no-repeat;
		margin-left: 8px;
		background-position-y: 23%;
	}
	dt {
		color: #626262;
		margin: 10px 0;
	}
	.letterNavi {
		li:hover {
			text-shadow: 2px 2px 5px #999;
		}
		span.pipe {
			color: #dedede;
		}
		a {
			text-decoration: none!important;
			border-bottom: 0!important;
		}
	}
	.subprojects-main {
		width: 72%;
		float: left;
	}
}