<f:if condition="{project.url1}">
	<f:then>
		<f:format.html><f:link.external uri="{project.url1}">{project.url1}</f:link.external></f:format.html>
	</f:then>
</f:if>
<f:if condition="{project.url2}">
	<f:then>
		<f:format.html><f:link.external uri="{project.url2}">{project.url2}</f:link.external></f:format.html>
	</f:then>
</f:if>
<f:if condition="{project.url3}">
	<f:then>
		<f:format.html><f:link.external uri="{project.url3}">{project.url3}</f:link.external></f:format.html>
	</f:then>
</f:if>
<f:if condition="{project.url4}">
	<f:then>
		<f:format.html><f:link.external uri="{project.url4}">{project.url4}</f:link.external></f:format.html>
	</f:then>
</f:if>
<f:if condition="{project.url5}">
	<f:then>
		<f:format.html><f:link.external uri="{project.url5}">{project.url5}</f:link.external></f:format.html>
	</f:then>
</f:if>
