.tx-nkwsubfeprojects dd {
  padding-left: 1em;
  line-height: 1.7em;
  background-repeat: no-repeat;
  margin-left: 8px;
  background-position-y: 23%; }

.tx-nkwsubfeprojects dt {
  color: #626262;
  margin: 10px 0; }

.tx-nkwsubfeprojects .letterNavi li:hover {
  text-shadow: 2px 2px 5px #999; }

.tx-nkwsubfeprojects .letterNavi .pipe {
  color: #333333; }
